<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      姓: <input type="text" v-model="firstName" /><br />
      名: <input type="text" v-model="lastName" /><br />
      姓名: <input type="text" :value="fullName" /><br />
      姓名: {{ fullName }} <br />
      姓名: {{ fullName }} <br />

      <hr />
      <button @click="change">改变fullName</button>
      姓名: <input type="text" :value="fullName" /><br />

      <hr />
      <p>{{message}}</p>
    </div>
    <script>
      // computed和watch的区别
      // 1、computed是有缓存的  watch没有
      // 2、computed执行同步操作 异步操作在watch中实现
      // 3、computed监听的那个数据的数据发生变化时,不会重新计算,只有依赖的数据发生变化时才会重新调用getter来计算
      // watch监听的数据发生变化时 立马执行相应的回调函数重新计算

      Vue.config.productionTip = false;

      var vm = new Vue({
        el: "#app",
        data: {
          firstName: "",
          lastName: "",
          fullName: "",
          message: "~~",
        },
        computed: {
          // fullName(){
          //   // 缓存
          //   console.log(111)
          //   // 不能异步 => 计算结果依赖数据
          //   // setTimeout(()=> {
          //   //   // 定时器的回调函数会被放到任务队列中
          //   //   // 等到调用栈执行完毕再取出该回调执行
          //   //   return this.firstName + '-' + this.lastName
          //   // })
          //   return this.firstName + '-' + this.lastName
          // }
        },
        watch: {
          fullName() {
            // console.log(111)
            let xhr = new XMLHttpRequest();
            xhr.open("get", "https://www.escook.cn/api/finduser/admin", true);
            xhr.send(null);
            xhr.onload = () => {
              // this写成箭头函数 => vue实例
              // this写成普通函数 => xhr实例
              // console.log(this)
              this.message = JSON.parse(xhr.responseText).message;
            };
          },
        },
        methods: {
          change() {
            this.fullName += "1";
          },
        },
      });
    </script>
  </body>
</html>
