<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>品牌列表案例</title>
  <link rel="stylesheet" href="./lib/bootstrap.css">
  <link rel="stylesheet" href="./css/brandlist.css">
</head>

<body>

  <div id="app">
    <!-- 卡片区域 -->
    <div class="card">
      <div class="card-header">
        添加品牌
      </div>
      <div class="card-body">
        <!-- 添加品牌的表单区域 -->
        <form>
          <div class="form-row align-items-center">
            <div class="col-auto">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">品牌名称</div>
                </div>
                <input type="text" class="form-control" placeholder="请输入品牌名称">
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-2">添加</button>
            </div>

            <div class="col-auto">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">品牌名称</div>
                </div>
                <input type="text" class="form-control" placeholder="请输入搜索内容">
              </div>
            </div>

            <div class="col-auto">
              <button type="button" class="btn btn-primary mb-2">搜索</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- 表格区域 -->
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">品牌名称</th>
          <th scope="col">状态</th>
          <th scope="col">创建时间</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        <!-- 渲染表格内容区域 -->
        <tr v-for="item in carList">
          <td>{{item.id}}</td>
          <td>{{item.brand}}</td>
          <td>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" :id="'customSwitch' + item.id" v-model="item.status">
              <label class="custom-control-label" :for="'customSwitch' + item.id">{{item.status ? '已启用' : '已禁用'}}</label>
            </div>
          </td>

          <td>{{item.time}}</td>
          <td>
            <!-- javascript:; 表示a标签不会跳转 而是用来点击实现某些功能 -->
            <a href="javascript:;">删除</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="./lib/vue-2.6.12.js"></script>
  <script src="./lib/dayjs.min.js"></script>

  <script>
    new Vue({
      el: '#app',
      data: {
        // 从服务端请求过来的数据
        carList: [
          {id: 1, brand: '宝马', status: false, time: new Date()},
          {id: 2, brand: '奔驰', status: true, time: new Date()},
          {id: 3, brand: '奥迪', status: false, time: new Date()},
        ]
      },
      methods: {
        // 删除
        remove(id) {
          // 方法一




          // 方法二效率更高
          this.carList
        },
        // 添加
        add() {
          this.carList.push({
            id: 4,
            // 拿到用户输入的brand
            brand: this.brand,
            status: false,
            time: new Data()
          })
        }
      },
    })
  </script>

</body>
</html>